<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="https://cdn-icons-png.flaticon.com/512/3418/3418886.png" alt="popcorn" width="50" height="50"></a>
    <form class="d-flex">
      <button class="btn btn-outline-success" type="submit">My List</button>
      <button class="btn btn-outline-success" type="submit">New List</button>
    </form>
  </div>
</nav>
